<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="edit-container">
    
        <h1>Users Edit Page </h1>
        <ul>
            <form action="/tracker/<%=trackers.id %>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%=tracker.name%>"/><br/>
                Git Repo: <input type="text" name="" value="<%=tracker.git_repo%>"/><br/>
                Interesting fact: <input type="text" name="" value="<%=tracker.interesting_fact%>"/><br/>
                Favorite Animal: <input type="text" name="" value="<%=tracker.favAnimal%>"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
            </form>
        </ul>
        <a href="/tracker">Go Back to Index</a>
    </div>
</body>
</html>