<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('./partials/head.ejs')  %>
    </head>
    <body>
        <div class="navBar">
            <h1>Class Tracker</h1>
                <nav class="newStudent">
                    <button><a href="/class-tracker/new">Add a new student</a></button>
                </nav>
        </div>
        <ul class="homePage">
            <% trackers.forEach(pokemon=> { %>
                <li>
                    <a href="/class_tracker/<%= trackers._id %>">
                        <h1>Name: <%= trackers.Name %></h1>
                    </a>
                    <h3>Interesting Fact: <%= trackers.Fact%></h3>
                    <button><a href="/class_tracker/<%=trackers._id %>/edit">Edit</a></button>
                    <form action="/class_tracker/<%= trackers._id %>?_method=DELETE" method="POST">
                        <input type="submit" class="button" value="DELETE"/>
                    </form>
                </li>
            <% }) %>
        </ul>
    </body>
</html>