<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body class="new-page-container" id="showPage">
    <div class="container mt-10">
      <div class="text-center">
        <h1 class="display-5 mb-5" id="showTitle">Students show Page</h1>
      </div>
      <h1 class="sName"><%=tracker.Name %></h1>
      <div class="show-list">
        <ul class="list-inline">
          <li class="info">Github Repo: <%=tracker.Github%></li>
          <li class="info">Favorite Animal: <%=tracker.Animal%></li>
        </ul>
        <img src="<%=tracker.Img %>" class="showImage"/>
      </div>
     
    </div>
    <div>
        <button class="backBtn"><a href="/class_tracker/index">Go Back to Index</a></button>
    </div>
    
  </body>
</html>
